In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [2]:
# Read training data and test data into pandas dataframes
df_train = pd.read_csv(r"C:\Users\Edwin\Downloads\database.csv")
df_test = pd.read_csv(r"C:\Users\Edwin\Downloads\earthquakeTest.csv")

In [3]:
# Preview df_train
df_train.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [4]:
# Preview df_test
df_test.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2017-01-01T00:04:56.020Z,32.9800,-115.545833,11.50,2.68,ml,41.0,77.0,0.06553,0.26,...,2017-02-08T21:33:00.874Z,"2km W of Brawley, CA",earthquake,0.24,0.46,0.196,64.0,reviewed,ci,ci
1,2017-01-01T00:13:25.380Z,2.8327,127.578600,78.93,5.00,mb,NaN,101.0,2.05800,0.75,...,2017-03-27T23:53:16.040Z,"131km NNW of Tobelo, Indonesia",earthquake,6.80,7.10,0.065,75.0,reviewed,us,us
2,2017-01-01T00:22:02.820Z,32.9730,-115.550500,9.40,2.65,ml,42.0,75.0,0.07023,0.24,...,2017-02-08T21:36:24.950Z,"2km WSW of Brawley, CA",earthquake,0.23,0.61,0.198,76.0,reviewed,ci,ci
3,2017-01-01T00:23:53.890Z,-5.9497,153.898800,10.00,4.10,mb,NaN,185.0,2.45700,0.32,...,2017-03-27T23:53:16.040Z,"180km WNW of Panguna, Papua New Guinea",earthquake,7.50,1.90,0.184,8.0,reviewed,us,us
4,2017-01-01T00:45:57.980Z,-2.9302,139.432800,49.25,4.10,mb,NaN,132.0,7.17400,0.90,...,2017-03-27T23:53:16.040Z,"132km WSW of Abepura, Indonesia",earthquake,13.50,8.40,0.166,10.0,reviewed,us,us

In [5]:
# Clean datasets
df_train_loaded = df_train.drop(['Depth Error', 'Time', 'Depth Seismic Stations','Magnitude Error','Magnitude Seismic Stations','Azimuthal Gap', 'Horizontal Distance','Horizontal Error',
'Root Mean Square','Source','Location Source','Magnitude Source','Status'], axis=1)

df_test_loaded = df_test[['time', 'latitude', 'longitude', 'mag', 'depth']]

# Preview df_train_loaded
df_train_loaded.head()

,Date,Latitude,Longitude,Type,Depth,Magnitude,Magnitude Type,ID
0,01/02/1965,19.246,145.616,Earthquake,131.6,6.0,MW,ISCGEM860706
1,01/04/1965,1.863,127.352,Earthquake,80.0,5.8,MW,ISCGEM860737
2,01/05/1965,-20.579,-173.972,Earthquake,20.0,6.2,MW,ISCGEM860762
3,01/08/1965,-59.076,-23.557,Earthquake,15.0,5.8,MW,ISCGEM860856
4,01/09/1965,11.938,126.427,Earthquake,15.0,5.8,MW,ISCGEM860890

In [6]:
df_test_loaded.head()

                       time  latitude   longitude   mag  depth
0  2017-01-01T00:04:56.020Z   32.9800 -115.545833  2.68  11.50
1  2017-01-01T00:13:25.380Z    2.8327  127.578600  5.00  78.93
2  2017-01-01T00:22:02.820Z   32.9730 -115.550500  2.65   9.40
3  2017-01-01T00:23:53.890Z   -5.9497  153.898800  4.10  10.00
4  2017-01-01T00:45:57.980Z   -2.9302  139.432800  4.10  49.25

In [7]:
# Rename columns
df_train_loaded = df_train_loaded.rename(columns={'Magnitude Type':'Magnitude_Type'})
df_test_loaded = df_test_loaded.rename(columns={'time':'Date', 'latitude':'Latitude', 'longitude':'Longitude', 'mag':'Magnitude', 'depth':'Depth'})

In [8]:
# Preview df_train_loaded
df_train_loaded.head()

,Date,Latitude,Longitude,Type,Depth,Magnitude,Magnitude_Type,ID
0,01/02/1965,19.246,145.616,Earthquake,131.6,6.0,MW,ISCGEM860706
1,01/04/1965,1.863,127.352,Earthquake,80.0,5.8,MW,ISCGEM860737
2,01/05/1965,-20.579,-173.972,Earthquake,20.0,6.2,MW,ISCGEM860762
3,01/08/1965,-59.076,-23.557,Earthquake,15.0,5.8,MW,ISCGEM860856
4,01/09/1965,11.938,126.427,Earthquake,15.0,5.8,MW,ISCGEM860890

In [9]:
# Preview df_test_loaded
df_test_loaded.head()

                       Date  Latitude   Longitude  Magnitude  Depth
0  2017-01-01T00:04:56.020Z   32.9800 -115.545833       2.68  11.50
1  2017-01-01T00:13:25.380Z    2.8327  127.578600       5.00  78.93
2  2017-01-01T00:22:02.820Z   32.9730 -115.550500       2.65   9.40
3  2017-01-01T00:23:53.890Z   -5.9497  153.898800       4.10  10.00
4  2017-01-01T00:45:57.980Z   -2.9302  139.432800       4.10  49.25

In [10]:
# Define training and testing datasets
df_testing = df_test_loaded[['Latitude', 'Longitude', 'Magnitude', 'Depth']]
df_training = df_train_loaded[['Latitude', 'Longitude', 'Magnitude', 'Depth']]

In [11]:
# Drop nulls from datasets
df_training.dropna()
df_testing.dropna()

        Latitude   Longitude  Magnitude    Depth
0      32.980000 -115.545833       2.68   11.500
1       2.832700  127.578600       5.00   78.930
2      32.973000 -115.550500       2.65    9.400
3      -5.949700  153.898800       4.10   10.000
4      -2.930200  139.432800       4.10   49.250
5      32.978833 -115.546000       3.11   13.610
6      32.965667 -115.545167       2.53   11.470
7      54.114200 -161.337500       3.70   34.870
8      32.973167 -115.553667       2.94    9.350
9      35.254200  -97.769400       2.60    4.194
10    -12.941500  -76.597400       4.10   40.440
11     32.977667 -115.545500       3.13   11.340
12     32.977167 -115.542167       2.50   10.680
13    -29.633500  -71.327700       4.10   42.300
14    -17.998500 -172.112100       4.10   38.270
15     32.979333 -115.547167       2.77   10.850
16    -43.279300  -74.405900       3.90   21.970
17     17.965400  -65.624400       3.20    3.000
18    -19.693200  -69.149000       4.00  108.060
19     51.315600 -179.846400       2.70   41.400
20     18.643800  -66.745500       2.80   24.000
21      2.544400  -79.025200       4.70   14.980
22     36.285600  -97.501700       3.00    4.179
23     17.872600  -67.165800       2.70    5.000
24     53.437500 -171.021300       4.30  187.000
25      2.313800  -78.549700       4.40   18.220
26     10.145100  126.040200       4.00   77.030
27    -29.995000  -71.781300       4.30   40.360
28     38.389000 -118.915200       3.00    7.900
29     13.322200  120.853800       4.30  249.570
...          ...         ...        ...      ...
19970  55.198800 -160.824700       3.10   59.180
19971 -21.605100  168.837400       4.40   10.000
19972  21.789300  142.683100       4.10  279.640
19973  35.237100  -97.744600       2.60    7.451
19974 -14.913500   66.522400       4.30   10.000
19975 -21.354300  168.732900       4.30   10.000
19976 -11.580100  -14.231300       4.90   10.000
19977  36.570500  142.022300       4.30   23.640
19978  47.001700 -112.714200       2.70    7.730
19979 -21.184900  168.743900       4.30   10.000
19980 -21.415600  168.514400       5.30    8.280
19981 -11.742400  -14.114200       6.10   10.000
19982  27.550500   56.671500       4.00   10.000
19983 -18.502300 -177.490000       4.10  589.900
19984 -38.236600  -73.917100       4.40   11.860
19985  -2.829500  139.130700       4.20   10.000
19986 -11.678000  -14.053000       4.40   10.000
19987 -21.535600  168.671300       5.00   10.000
19988 -21.498100  168.690500       4.20   10.000
19989  27.467300   56.565700       4.30   10.000
19990 -21.531600  168.686700       4.80   10.000
19991  -3.434800  140.536000       4.50   10.000
19992 -25.292500  -64.860400       4.70   10.000
19993  42.922700   23.357500       4.10   11.410
19994  59.166000 -152.793000       2.70   68.600
19995 -21.459800  168.774000       4.30   10.000
19996  35.239500  -97.745300       2.60    6.364
19997  42.139833 -121.692667       2.58    6.880
19998  67.461600 -158.713600       2.80    6.500
19999  37.139800  -98.335800       2.50    7.710

[20000 rows x 4 columns]

In [13]:
# Create training data features
X = df_training[['Latitude', 'Longitude']]
y = df_training[['Magnitude', 'Depth']]

# New test data features
X_new = df_testing[['Latitude', 'Longitude']]
y_new = df_testing[['Magnitude', 'Depth']]

# Use train_test_split on training data features
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Build the model
model_reg = RandomForestRegressor(random_state=50)
model_reg.fit(X_train, y_train)
model_reg.predict(X_test)
score  = model_reg.score(X_test, y_test) * 100

C:\Users\Edwin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [15]:
score

86.13445724196819

In [16]:
# Improve model accuracy by automating hyperparameter tuning
parameters = {'n_estimators': [10, 20, 50, 100, 200, 500]}

grid_obj = GridSearchCV(model_reg, parameters)
grid_fit = grid_obj.fit(X_train, y_train)
best_fit = grid_fit.best_estimator_
results = best_fit.predict(X_test)

C:\Users\Edwin\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

In [17]:
# Preview predicted values
print(results)

[[  5.922  155.27  ]
 [  5.513   13.102 ]
 [  5.701   75.591 ]
 ...
 [  6.042  207.621 ]
 [  5.999   19.453 ]
 [  5.709   26.9805]]

In [18]:
score = best_fit.score(X_test, y_test) * 100

In [19]:
score

86.93540661667079

In [20]:
# Make prediction on out of sample data (Earthquakes for the next year 2017)
final_results = best_fit.predict(X_new)
# Evaluate model
final_score = best_fit.score(X_new, y_new) * 100

In [21]:
final_score

82.05053107195103

In [23]:
# Store the prediction results 
lst_Magnitudes = []
lst_Depth = []
i = 0
for r in final_results.tolist():
    lst_Magnitudes.append(final_results[i][0])
    lst_Depth.append(final_results[i][1])
    i += 1
    
df_results = X_new[['Latitude', 'Longitude']]
df_results['Magnitude'] = lst_Magnitudes
df_results['Depth'] = lst_Depth
df_results['Score'] = final_score

In [24]:
df_results.head()

   Latitude   Longitude  Magnitude     Depth      Score
0   32.9800 -115.545833      5.886  12.29593  82.050531
1    2.8327  127.578600      5.811  63.44000  82.050531
2   32.9730 -115.550500      5.886  12.29593  82.050531
3   -5.9497  153.898800      5.934  41.71700  82.050531
4   -2.9302  139.432800      5.798  47.87400  82.050531